.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 300px; /* Maximum width */
}
@media (max-width: 600px) {
  .logo {
    max-width: 200px; /* Smaller on mobile devices */
  }
}
